/* Sidebar chính */
.sidebar {
    width: 250px;
    min-height: 100vh;
    background-color: #007bff;
    color: white;
}

    /* Link trong sidebar */
    .sidebar a {
        display: flex;
        align-items: center;
        color: white;
        padding: 10px 15px;
        text-decoration: none;
        border-radius: 6px;
        transition: all 0.2s ease;
    }

        .sidebar a:hover {
            background-color: #0056b3;
        }

        /* Active menu */
        .sidebar a.active {
            background-color: #0056b3;
            font-weight: 600;
        }

    /* Icon */
    .sidebar i {
        font-size: 1.2rem;
    }

/* Khi thu nhỏ màn hình chỉ hiện icon */
@media (max-width: 768px) {
    .sidebar span {
        display: none;
    }

    .sidebar {
        width: 70px;
        align-items: center;
    }

        .sidebar a {
            justify-content: center;
        }
}
